name: Deploy Next.js

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          clean: false

      - name: Install Dependencies
        run: |

          export PATH="$HOME/.local/share/pnpm:$PATH"
          pnpm install --frozen-lockfile

      - name: Build Next.js
        run: |
          export PATH="$HOME/.local/share/pnpm:$PATH"
          export NODE_OPTIONS="--max-old-space-size=4096"

          pnpm run build
        env:
          NEXT_PUBLIC_API_URL: https://api.ctspk.com

      - name: Restart PM2
        run: |
          export PATH="$HOME/.local/share/pnpm:$PATH"
          pm2 describe next-app > /dev/null 2>&1 \
              && pm2 describe next-app \ || pm2 start "pnpm start -p 3001" --name "next-app"
